In [288]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as itertools

In [289]:
data = pd.read_csv('movie_bd_v6.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
741,tt1216475,200000000,559852396,Cars 2,Larry the Cable Guy|Owen Wilson|Michael Caine|...,John Lasseter|Brad Lewis,Ka-ciao!,Star race car Lightning McQueen and his pal Ma...,106,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Pixar Animation Studios,6/11/2011,5.8,2011
21,tt1798684,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,7.3,2015
398,tt0477080,100000000,167805466,Unstoppable,Denzel Washington|Chris Pine|Rosario Dawson|Et...,Tony Scott,"1,000,000 Tons. 100,000 Lives. 100 Minutes.","A runaway train, transporting deadly, toxic ch...",98,Action|Thriller,Twentieth Century Fox Film Corporation|Scott F...,11/4/2010,6.2,2010
1568,tt0368891,100000000,347451894,National Treasure,Nicolas Cage|Diane Kruger|Justin Bartha|Sean B...,Jon Turteltaub,The greatest adventure history has ever revealed.,"Modern treasure hunters, led by archaeologist ...",131,Adventure|Action|Thriller|Mystery,Walt Disney Pictures|Jerry Bruckheimer Films|S...,11/19/2004,6.4,2004
1078,tt1855325,65000000,240159255,Resident Evil: Retribution,Milla Jovovich|Sienna Guillory|Michelle Rodrig...,Paul W.S. Anderson,The Ultimate Battle Begins,The Umbrella CorporationГўв‚¬в„ўs deadly T-vir...,95,Action|Horror|Science Fiction,Davis-Films,9/12/2012,5.6,2012

In [290]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [291]:
# преобразуем дату выпуска в формат даты:
data['release_date'] = pd.to_datetime(data.release_date)

In [292]:
answers = {} # создадим словарь для ответов

#создаем дополнительную колонку profit (прибыль):
data['profit'] = data.revenue - data.budget

# прописываем функцию для подсчета жанров:
def count_genres(genres_list):
    for i in genres_list:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [293]:
# в словарь вставляем номер вопроса и ваш ответ на него
# ответ на первый вопрос:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' 
# если ответили верно, можете добавить комментарий со значком "+"

In [294]:
# решение:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenГѓВ©lope Cruz|Geoffrey Rush|Ian...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [295]:
# второй вариант решения с помощью функции query:
data.query('budget==budget.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenГѓВ©lope Cruz|Geoffrey Rush|Ian...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [296]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [297]:
#решение (вопрос 2):
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [298]:
#вариант решения вопроса 2 с помощью функции query:
data.query('runtime == runtime.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [299]:
#записываем ответ на вопрос 3 в словарь:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [300]:
#решение (вопрос 3):
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [301]:
#вариант решения вопроса №3 с помощью функции qeury:
data.query('runtime == runtime.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [302]:
# записываем ответ на вопрос 4 в словарь:
answers ['4'] = '2. 110' #округляем до целого

In [303]:
#вариант решения вопроса 4 с помощью метода mean():
data.runtime.mean()

109.6585494970884

In [304]:
#вариант решения с помощью функции describe():
data.describe() #смотрим статистику по колонке runtime, находим значение в строке 'mean'

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [305]:
#записываем ответ на вопрос 5 в словарь:
answers['5'] = '1. 107'

In [306]:
#вариант решения задания с помощью функции median():
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [307]:
#записываем ответ на вопрос 6 в словарь:
answers['6'] = '5. Avatar (tt0499549)'

In [308]:
#для решения используем колонку profit, созданную на этапе предобработки данных:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [309]:
#записываем ответ на вопрос 7 в словарь:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [310]:
#для решения используем колонку profit, созданную на этапе предобработки данных:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [311]:
#записываем ответ на вопрос 8 в словарь:
answers ['8'] = '1. 1478'

In [312]:
#вариант решения 1:
success_films = data[data.revenue > data.budget] #создаем DataFrame из фильмов, сборы которых превышают бюджет
success_films['imdb_id'].nunique() #считаем количество фильмов в новом DataFrame

1478

In [313]:
# вариант решения 2 (без создания промежуточного DataFrame):
data[data.revenue > data.budget]['imdb_id'].nunique()

1478

In [314]:
#вариант решения 3 с помощью функции unique():
len(data[data.revenue > data.budget]['imdb_id'].unique())

1478

In [315]:
#вариант решения 4 с помощью фильтра колонки profit:
data[data.profit > 0]['imdb_id'].nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [316]:
#записываем ответ на вопрос 9 в словарь:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [317]:
films_2008 = data[data.release_year == 2008] #создаем промежуточный DataFrame из фильмов 2008-го года
films_2008[films_2008.revenue == films_2008.revenue.max()] #ищем в промежуточном DataFrame фильм с наибольшим значением в колонке revenue

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [318]:
#записываем ответ на вопрос 10 в словарь:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [319]:
films_2012_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
films_2012_14[films_2012_14.profit == films_2012_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [320]:
#записываем ответ на вопрос 11 в словарь:
answers['11'] = '3. Drama'

ВАРИАНТ 1

In [321]:
#используем функцию для посчета жанров (описана в предобработке данных):
genres_split = data.genres.apply(lambda x: x.split("|")) #создаем серию данных с разделенными значениями жанров
genres_dict = {} #создаем словарь для подсчета количества фильмов по каждому жанру
genres_split.apply(count_genres) #применяем ранее созданную функцию к серии
genres_dict = pd.Series(genres_dict) #полученный словарь переводим в тип Серии
genres_dict.loc[genres_dict == genres_dict.max()] #в полученной серии фильтруем индекс, которому соответствует максимальное значение

Drama    782
dtype: int64

ВАРИАНТ 2

In [322]:
#используем функционал Counter
genres_counter = Counter() #создаем пустой счетчик
genres_split = data.genres.apply(lambda x: x.split('|')) #создаем серию и разделяем жанры
for value in genres_split:      #применяем счетчик к созданной серии
    for genre in value:
        genres_counter[genre] +=1
genres_counter = pd.Series(genres_counter) #переводим полученный словарь в Series
genres_counter.loc[genres_counter == genres_counter.max()] #фильтруем счетчик по максимальному значению

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [323]:
#записываем ответ на вопрос 12 в словарь:
answers['12'] = '1. Drama'

In [324]:
#вариант решения (как и в предыдущем вопросе, можно решать 2мя путями):
profit_films = data[data.profit > 0] #создаем DataFrame только из прибыльных фильмов
genres_counter = Counter() #создаем пустой счетчик
genres_split = profit_films.genres.apply(lambda x: x.split('|')) #создаем серию и разделяем жанры
for value in genres_split:      #применяем счетчик к созданной серии
    for genre in value:
        genres_counter[genre] +=1
genres_counter = pd.Series(genres_counter) #переводим полученный словарь в Series
genres_counter.loc[genres_counter == genres_counter.max()] #фильтруем счетчик по максимальному значению

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [325]:
#записываем ответ на вопрос 13 в словарь:
answers['13'] = '5. Peter Jackson'

In [326]:
#решение:
data.director = data.director.apply(lambda x: x.split('|')) #разделяем колонку с режиссерами
data_director = data.explode('director') #преобразуем DataFrame, чтобы иметь информацию по каждому режиссеру отдельно
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(5) #группируем по режиссерам, суммируем кассовые сборы, сортируем по убыванию

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [327]:
#записываем ответ на вопрос 14 в словарь:
answers['14'] = '3. Robert Rodriguez'

In [328]:
#для решения используем уже преобразованный на прошлом вопросе DataFrame:
data_director.genres = data_director.genres.apply(lambda x: x.split('|'))

In [329]:
data_director_genre = data_director.explode('genres')
data_director_action = data_director_genre[data_director_genre.genres == 'Action']
data_director_action.groupby(['director'])['genres'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres, Length: 364, dtype: int64

In [330]:
#вариант решения с использованием pivot:
pivot = data_director_genre.pivot_table (values = ['imdb_id'], #создаем свобную таблицу режиссер-жанрб значения - количество фильмов
                                          index = ['director'],
                                          columns = ['genres'],
                                          aggfunc = 'count',)
pivot['imdb_id']['Action'].sort_values(ascending=False) #сортируем колонку 'Action' по убыванию

director
Robert Rodriguez      9.0
Paul W.S. Anderson    7.0
Michael Bay           7.0
Ridley Scott          6.0
Antoine Fuqua         6.0
                     ...
William Monahan       NaN
Wong Kar-wai          NaN
Woody Allen           NaN
Xavier Palud          NaN
Zal Batmanglij        NaN
Name: Action, Length: 997, dtype: float64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [331]:
#записываем ответ на вопрос 15 в словарь:
answers['15'] = '3. Chris Hemsworth'

In [357]:
#вариант решения:
data = pd.read_csv('movie_bd_v6.csv') #возвращаем исходный вид данных
data_2012 = data[data.release_year == 2012] #создаем DataFrame только с фильмами 2012г

In [358]:
data_2012.cast = data_2012.cast.apply(lambda x: x.split('|')) #делим актерский состав

In [359]:
#преобразуем df, чтобы получить отдельную строку для каждого актера в каждом фильме
data_2012_actors = data_2012.explode('cast')

In [360]:
#группируем полученный df по актерам, суммируя кассовые сборы каждого фильма, в котором он снялся. Результат сортируем
data_2012_actors.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [336]:
#записываем ответ на вопрос 16 в словарь:
answers['16'] = '3. Matt Damon'

In [337]:
#берем из массива только высокобюджетные фильмы (бюджет выше среднего):
data_highbudget = data[data.budget > data.budget.mean()]

In [338]:
#делим значения в колонке с актерами:
data_highbudget.cast = data_highbudget.cast.apply(lambda x: x.split('|'))

In [339]:
#получаем отдельными строками данные по каждому актеру и фильму, в котором он снялся:
highbudget_actors = data_highbudget.explode('cast')

In [340]:
#в полученном df считаем количество фильмов по каждому актеру, сортируем по убыванию:
highbudget_actors.groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).head(5)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [341]:
#записываем ответ на вопрос 17 в словарь:
answers['17'] = '2. Action'

In [342]:
#создаем новый df с фильмами, где снимался Nicolas Cage:
data_Cage = data[data.cast.str.contains('Nicolas Cage')]

In [343]:
#в полученном df преобразуем колонку genres, чтобы получить отдельные строки для каждого жанра по каждому фильму:
data_Cage.genres = data_Cage.genres.apply(lambda x: x.split('|'))
data_Cage_genres = data_Cage.explode('genres')

In [344]:
#группируем по жанрам, сортируем по убыванию:
data_Cage_genres.groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).head(5)

genres
Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [345]:
#записываем ответ на вопрос 18 в словарь:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [346]:
#создаем df с фильмами jn Paramount:
data['profit'] = data.revenue - data.budget #выше возрвщались к исходной выгрузке,надо создать колонку profit снова
data_ParPic = data[data.production_companies.str.contains('Paramount Pictures')]

In [347]:
#в полученном df ищем фильм с минимальным значением в колонке profit:
data_ParPic.loc[data_ParPic.profit == data_ParPic.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [348]:
#записываем ответ на вопрос 19 в словарь:
answers['19'] = '5. 2015'

In [349]:
#группируем данные по году выпуска, суммируем кассовые сборы, сортируем по убываниюЖ
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [350]:
#записываем ответ на вопрос 20 в словарь:
answers['20'] = '1. 2014'

In [351]:
#создаем df только с фильмами Warner Bros:
data_WarnBros = data[data.production_companies.str.contains('Warner Bros')]

In [352]:
#полученный df группируем по годам, суммируем прибыль (profit), сортируем по убыванию:
data_WarnBros.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [353]:
#записываем ответ на вопрос 21 в словарь:
answers['21'] = '4. Сентябрь'

In [361]:
#преобразуем дату в форма даты, добавляем колонку с месяцем выпуска фильма:
data['release_date'] = pd.to_datetime(data.release_date) #преобразуем колонку с датой в формат даты
data['release_month'] = data.release_date.dt.month

In [362]:
#группируем по месяцам, считаем количество фильмов в каждом месяце, сортируем по убыванию:
data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [363]:
#записываем ответ на вопрос 22 в словарь:
answers['22'] = '2. 450'

In [364]:
#создаем df, сгруппированный по месяцам и количеству фильмов за каждый месяц:
grouped_month = data.groupby(['release_month'])['imdb_id'].count()

In [365]:
#суммируем количество фильмов за летние месяцы:
summerfilms_count = grouped_month[6]+grouped_month[7]+grouped_month[8]
print(summerfilms_count)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [366]:
#записываем ответ на вопрос 23 в словарь:
answers['23'] = '5. Peter Jackson'

In [367]:
#создаем отдельный df, преобразуем в нем колонку с режиссерами
director_data = data

In [368]:
director_data.director = director_data.director.apply(lambda x: x.split('|'))

In [369]:
director_data_split = director_data.explode('director')

In [370]:
#оставляем только зимние месяцы
director_data_winter = director_data_split.query('release_month==12 or release_month==1 or release_month==2')

In [371]:
#группируем df по режиссрам, считаем для каждого количество фильмов, сортируем по убыванию:
director_data_winter.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(5)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [372]:
#записываем ответ на вопрос 24 в словарь:
answers['24'] = 'Four By Two Productions'

In [373]:
data['name_length'] = data.original_title.apply(lambda x: len(x))
data['production_companies_list'] = data.production_companies.str.split("|")
production_companies_df = data.explode('production_companies_list')
production_companies_df.groupby(['production_companies_list']).name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [374]:
#записываем ответ на вопрос 25 в словарь:
answers['25'] = '3. Midnight Picture Show'

In [375]:
#создаем столбец с подсчетом количества слов в названии фильма:
data['words_quantity'] = data['overview'].str.split(' ').apply(lambda x: len(x))

In [376]:
#создаем df с отдельными строками для каждой студии:
production_companies_df = data.explode('production_companies_list')

In [377]:
#группируем полученный df студиям, считаем среднее количество слов, сортируем по убыванию:
production_companies_df.groupby(['production_companies_list']).words_quantity.mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [378]:
#записываем ответ на вопрос 26 в словарь:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [379]:
data_ratings = data[['original_title', 'vote_average']] #создаем отельный df с данными о рейтингах

#фильтруем для получения списка 1% фильмов с лучшим рейтингом, сортируем по названиям
data_ratings.query('vote_average >= vote_average.quantile(0.99)').sort_values('original_title')

                                         original_title  vote_average
1191                                   12 Years a Slave           7.9
316                                            3 Idiots           7.8
124                                          Big Hero 6           7.8
1213                                 Dallas Buyers Club           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
128                                           Gone Girl           7.9
119                             Guardians of the Galaxy           7.9
1188                                                Her           7.8
370                                           Inception           7.9
9                                            Inside Out           8.0
118                                        Interstellar           8.0
1800                                            Memento           7.9
283                                          Mr. Nobody           7.8
1205                                          Prisoners           7.8
34                                                 Room           8.0
28                                            Spotlight           7.8
599                                     The Dark Knight           8.1
177                              The Fault in Our Stars           7.8
138                            The Grand Budapest Hotel           7.9
125                                  The Imitation Game           8.0
496   The Lord of the Rings: The Fellowship of the Ring           7.8
1081      The Lord of the Rings: The Return of the King           7.9
863               The Lord of the Rings: The Two Towers           7.8
872                                         The Pianist           7.9
1444                                       The Prestige           7.8
155                            The Theory of Everything           7.8
1183                            The Wolf of Wall Street           7.9
1688                                There Will Be Blood           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [380]:
#записываем ответ на вопрос 27 в словарь:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint верно'

In [381]:
data=pd.read_csv('movie_bd_v6.csv') #берем исходный файл

In [382]:
data['cast'] = data['cast'].str.split('|') #преобразуем значения в колонке с актерами в списки

In [383]:
data_pairs = data['cast'].reset_index() # создаем новый df только со списками актеров

In [384]:
# создаем колонку со списком всех комбинаций актеров по 2:
data_pairs['pairs'] = data_pairs['cast'].apply(lambda x: list(itertools.combinations(x, 2)))

In [385]:
data_pairs = data_pairs.explode('pairs') #разбиваем df, чтобы получить отдельные записи по каждоу паре в каждом фильме
Counter(data_pairs['pairs']).most_common(1) #считаем количество повторений каждой пары, сортируем по убыванию

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [386]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': 'Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint верно'}

In [387]:
# и убедиться что ни чего не пропустил)
len(answers)

27